// LENGTH
$xs: 0.3rem;
$sm: 0.75rem;
$md: 1rem;
$lg: 2rem;
$xl: 3rem;
$xxl: 4rem;

// FONT
$h1: 1.5rem;
$h2: 1.1rem;
$h3: 0.75rem;

$font-sm: 0.5rem;
$font-md: 0.75rem;
$font-lg: 1.1rem;
$font-xl: 2rem;

// BORDER
$border-lg: 2px;
$border-sm: 1px;
$border-radius-sm: 3px;
$border-radius-md: 5px;

// COLOR
$white-1: RGB(255, 255, 255);
$blue-1: RGB(1, 92, 254);
$blue-2: RGB(0, 127, 254);
$green-1: RGB(39, 202, 8);
$green-2: RGB(0, 127, 0);
$red-1: RGB(255, 70, 70);
$black-1: RGB(27, 27, 27);
$orange-1: RGB(254, 213, 0);

// APP VARIABLES
$header-height: 3rem;
$app-padding: $md;
