// LENGTH
$xs: 0.3rem;
$sm: 0.75rem;
$md: 1rem;
$lg: 2rem;
$xl: 3rem;
$xxl: 4rem;

// FONT
$h1: 1.5rem;
$h2: 1.1rem;
$h3: 0.75rem;

// BORDER
$border-lg: 2px;
$border-sm: 1px;
$border-radius-sm: 3px;
$border-radius-md: 5px;

// COLOR
$white-1: RGB(255, 255, 255);
$blue-1: RGB(1, 92, 254);
$blue-2: RGB(0, 127, 254);

// APP VARIABLES
$header-height: 3rem;
$app-padding: $md;
